body {
  margin-top: 0;
  background-color: black;
}
#container {
  position: relative;
  width: 90%;
  margin: 10px auto;
}
#myCanvas {
  position: absolute;
  background-color: white;
  width: 100%;
}
