body {
  margin-top: 0;
  background-color: black;
}
#container {
  position: relative;
  width: 90%;
  margin: 10px auto;
}
#myCanvas {
  position: absolute;
  width: 100%;
}
p {
  webkit-animation: rainbow 60s linear infinite;
  animation: rainbow 60s linear infinite;
}
